@font-face {
    font-family: 'Conv_Filson W04 Bold';
    src: url('../fonts/Filson W04 Bold.eot');
    src: local('☺'), url('../fonts/Filson W04 Bold.woff') format('woff'), url('../fonts/Filson W04 Bold.ttf') format('truetype'), url('../fonts/Filson W04 Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Conv_SF-Pro-Display-Semibold';
    src: url('../fonts/SF-Pro-Display-Semibold.eot');
    src: local('☺'), url('../fonts/SF-Pro-Display-Semibold.woff') format('woff'), url('../fonts/SF-Pro-Display-Semibold.ttf') format('truetype'), url('../fonts/SF-Pro-Display-Semibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Conv_SFCompactText-RegularItalic';
    src: url('../fonts/SFCompactText-RegularItalic.eot');
    src: local('☺'), url('../fonts/SFCompactText-RegularItalic.woff') format('woff'), url('../fonts/SFCompactText-RegularItalic.ttf') format('truetype'), url('../fonts/SFCompactText-RegularItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Conv_SF-Pro-Display-Medium';
    src: url('fonts/SF-Pro-Display-Medium.eot');
    src: local('☺'), url('../fonts/SF-Pro-Display-Medium.woff') format('woff'), url('../fonts/SF-Pro-Display-Medium.ttf') format('truetype'), url('../fonts/SF-Pro-Display-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}